article {
    width: 300px;
    border: 2px dotted black;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    margin: 2px;

}

img {
    width: 80px;
    object-fit: cover;
}

article div {
    width: 100%;
    text-align: center;
}